<div class="col s12 m6">
    <div class="card blue-grey darken-1" *ngIf="demonstrateRecord">
      <div class="card-content white-text">
        <div class="card-body">
            <span class="card-title">Запись №{{record.id_record}}</span>
          <p>Услуга: {{record.service}}</p>
          <p>Косметолог: {{record.beautican}}</p>
          <p>Дата посещения: {{record.data}}</p>
          <p>Время посещения: {{record.time}}:00</p>
          <p>Стоимость: {{record.cost}}</p>
          <p>Статус: {{record.status}}</p>
          <div *ngIf="(!hide1 || !hide3) && record.status == 'Запись создана'" class="d-flex justify-content-between align-items-center">
              <button type="button" class=" btn-sm btn btn-danger" style="margin-top: 5px;" (click)="onDeleteRecord(record.id_record)">Отменить</button> 
          </div>
          <div *ngIf="!hide1 && record.status == 'Запись создана'" class="d-flex justify-content-between align-items-center">
            <button type="button" class=" btn-sm btn btn-danger" style="margin-top: 5px;" (click)="onChangeStatus(record.id_record)">Оплачено</button> 
        </div>
        </div>
      </div>
  </div>
  
