<div class="container">
    <h2 class="Title"> Личный кабинет администратора</h2>
<div class="collection">
    <a class="collection-item active" [routerLink]="['/record-admin']">Записи клиентов</a>
    <a class="collection-item" [routerLink]="['/beauticians']">Список сотрудников</a>
    <a class="collection-item" [routerLink]="['/services']">Список услуг</a>
</div>
<div class="container-for-main-block">
    <h4 class="mt-5">Список всех записей</h4>
    <div *ngIf="loading" style="height: calc(100vh - 73px - 2rem);" class="container d-flex justify-content-center align-content-center">
        <div  class="spinner-border txt-gray-bread m-auto" role="status">
            <span class="sr-only ">Loading...</span>
        </div>
    </div>
    <div class="col-3">
        <select class="browser-default" [(ngModel)]="filter_status">
            <option value="0" selected>все</option>
            <option value="1">Запись создана</option>
            <option value="2">Запись оплачена</option>
        </select>
    </div>
    <div class="container mt-4" *ngIf="!loading">
        <div *ngIf="!notfound; else blockNotFound" class="row mt-3 justify-content-md-start justify-content-lg-between justify-content-center  justify-content-xl-start">
            <app-record *ngFor="let record of records | sort:filter_status" [record]="record" class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12"></app-record>
        </div>
        <ng-template #blockNotFound>
            <p class="font-weight-normal">К сожалению, записей нет</p>
        </ng-template>
    </div>
  </div>

