<div class="collection">
    <a class="collection-item" [routerLink]="['/record-admin']">Записи клиентов</a>
    <a class="collection-item" [routerLink]="['/beauticians']">Список сотрудников</a>
    <a class="collection-item" [routerLink]="['/services']">Список услуг</a>
</div>
<p class="description-block">Как администратор, Вы можете добавлять, удалять и редактировать услуги, 
    а также добавлять и удалять сотрудников. Вы можете просматривать все 
    записи клиентов или же записи, имеющие только определенный статус (например, 
    Запись создана или Запись оплачена). Также у Вас есть возможность изменять стаутс
    записи.</p>